body {
  width: 100vw; 
  height: 100vh;
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif; 
}

.containerFormActivityPage {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100vw; 
  height: 100vh;
  background: linear-gradient(to right, #8e44ad,  #3498db);
  padding: 20px;
}

.imgContainer {
  max-width: 50%;
  margin-right: 10px;
  object-fit: contain;
}

.selectedInputCountries {
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  cursor: pointer;
  background-color: #eaff069a;
  text-shadow: 2px 2px 4px rgba(33, 0, 125, 0.951);
}


.seasonInput {
  font-family: 'Comic Sans MS', cursive, sans-serif; 
  padding: 2px;
  font-size: 12px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  cursor: pointer;
  background-color: #38ff069a;
  text-shadow: 2px 2px 4px rgba(238, 5, 5, 0.951);
}

.firstOne {
 height: 70px; 
}

.selected {
  font-family: 'Comic Sans MS', cursive, sans-serif; 
}

.imgForm {
  width: 90%;
}

.homeLink {
  width: 30%;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.homeLink:hover {
  transform: scale(1.5) !important;
}



.formTitle {
  color: #270038;
  text-shadow: 2px 2px 4px #ccc;
}



.postedOkMessage {
  color:rgb(83, 51, 0);
  text-shadow: 2px 2px 4px #ffffff;
  box-shadow: 2px 2px 4px #000000; 
  background-color: #11ff009a;
  border-radius: 15px; 
  left: 35%; 
  top: 10%;
  padding: 10px;
  position: absolute;
  animation: postedOkMessage 2s ease-in-out infinite;
}

@keyframes postedOkMessage {
  0%, 100% { transform: translate(30px, 0); }
  50% { transform: translate(-1px, 0); }
}


.errorMessage {
  color:rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #ffffff;
  box-shadow: 2px 2px 4px #000000; 
  background-color: #ff00009a;
  border-radius: 15px; 
  margin-top: -300px;
  margin-left: 467px;
  padding: 10px;
  position: absolute; 
  animation: postedOkMessage  2s ease-in-out infinite;
}

.formContainer {
  background: rgba(0, 0, 0, 0.397);
  margin: 10px;
  font-size: 18px;
  line-height: 1.4;
  margin-right: 160px;
  border-radius: 10px;
  padding: 20px; 
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  flex: 1;
}

.homeLink p {
  color: black;
  margin-top: -100px;
  z-index: 1;
  font-weight: bold; 
}

.homeLink {
  filter: drop-shadow(2px 2px 4px rgb(255, 255, 255));
}

.countriesSelected {
  font-size: 10px;
  caret-color: #ff0000;
}

textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #8e44ad;
  caret-color: #ff0000;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white; 
}



.errorText {
  color: rgb(255, 191, 0);
  font-size: 12px;
  margin-top: 5px; 
  text-decoration: underline red; 
}
