.mainDiv {
  display: flex;
  justify-content: space-between; 
  margin: 0;
  min-height: 100vh;
  flex-direction: row;
  background: linear-gradient(to top right, #ff0090, #ff99008e, #ff9900);
}

.divOne {
  display: flex;
  width: 100%;
  margin-top: 3%;
  margin-left: 3%;
  height: 100%;
  z-index: 2;
}

.tableHead {
  background-color: #002a4a;
  color: white;
}

.tableBody tr:nth-child(even) {
  background-color: #f0f8ff;
}

.tableBody tr:nth-child(odd) {
  background-color: #0caadf;
}


.divMiddle {
  display: flex;
  height: 100%;
  margin-top: 4%;
  width: 100%;
  margin-right: 10%;
  z-index: 1;
}

.imgForm {
  width: 100%;
}


.divTwo {
  z-index: 2;
  display: flex;
  margin-top: 10%;
  width: 100%;
  height: 100%;
}



.firstLine,
.SecondLine,
.lasOneLine {
  margin-bottom: 10px;
}

.inputs {
  width: 100%; 
  padding: 8px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
  z-index: 2;
}

.editBTN {
  background-color: #0d31d1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.delBTN {
  background-color: #e61b0d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.delBTN:hover {
  background-color: #ffffff;
  color: #e61b0d;
}


.editBTNSend {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: -200%;
  margin-top: 200%;
  
}

.editBTN:hover,
.editBTNSend:hover {
  background-color: #000000;
}

.disabledText {
  background-color: #a2a2a2;
  color: rgb(91, 0, 0);
  text-shadow: 2px 2px 4px #33ff00;
  width: 100%; /* Utiliza el ancho completo del contenedor */
  padding: 8px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.footerContent {
  max-width: 250px; margin: 0 auto; 
}


.homeLink {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.homeLink:hover {
  transform: scale(1.5);
  filter: drop-shadow(4px 4px 8px rgb(0, 0, 0));
}
