

.containerCardsCountries {
  display: grid;
  width: 95vw; 
  max-height: 65vh; 
  margin: 5px auto; 
  grid-template-columns: repeat(5, 1fr);
  align-items: center; 
  justify-content: center;
  overflow: auto;

}


.pErrorBack {
  display: inline; 
  font-size: 1.5em; 
  font-weight: bold;
  width: 350px; 
  color: #ffffff; 
  background-color: #460101ea; 
  padding: 20px; 
  border-radius: 10px; 
  text-align: center; 
  margin-top: 20px; 
  box-shadow: 8px 8px 8px rgb(36, 215, 9);
}